<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing datas</title>
</head>
<body>
    <% for (let data of listingData) { %>
        <%= data.image %>
        
    
        
        
    <%  } %>
</body>
</html>