/* body{
    background-color: pink;
} */
 .navbar{
    height: 5rem;
    background-color: white;
 }
 .fa-compass{
    color: #fe424d;
    font-size: 2rem;
 }
 .nav-link{
    font-size: 1.2rem !important;
    color: #222222 !important;
 }